//---------------------------------------
//  Past Events Carousel - About Us
//---------------------------------------

@use "utility/colours";

.past-events {
  display: flex;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s, ;
}

.past-events-1 {
  background-image: url("../imgs/example-event.jpg");
}

.past-events-2 {
  background-image: url("../imgs/event2.jpg");
}

.past-events-3 {
  background-image: url("../imgs/event3.jpg");
}

.past-events-4 {
  background-image: url("../imgs/event4.jpg");
  background-position: bottom;
}

.past-events-5 {
  background-image: url("../imgs/event5.jpg");
  background-position: bottom;
}

.past-events:hover {
  transform: scale(1.01);
  transition-timing-function: cubic-bezier(.22,.68,0,1.71);
}

.past-events:hover .title-selector {
  opacity: 0;
  transition-timing-function: cubic-bezier(.22,.68,0,1.71);
}

.past-events .title-selector {
  background-color: colours.$darkgray-extra-clear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 20px;
}

.past-events .white-line {
  width: 250PX;
}

.past-events h6 {
  margin: 10px 0 20px 0;
  font-weight: 400;
}

.past-events .dot-container {
  width: 175px;
  margin: 0;
}
