@use "utility/colours";

.button {

}

.burger-book-btn {
  font-size: 1.2rem;
  width: 220px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  color: colours.$terracotta;
}

.burger-book-btn:hover {
  background-color: colours.$terracotta;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.button-header {
  display: none;

  @media (min-width: 768px){
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: colours.$terracotta;
    padding: 0.75rem 2.5rem;
    margin: 30px 0 30px;
    letter-spacing: 2px;
    width: 200px;
    border: 1px solid white;
  }
}

.button-header:hover {
  background: white;
  color: colours.$terracotta;
  border: 1px solid colours.$terracotta;
}

.button-header-mobile {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: colours.$terracotta;
  padding: 0.75rem 2.5rem;
  margin: 10px auto;
  letter-spacing: 2px;
  line-height: 1.65rem;
  border: 1px solid #4a1e19;

  @media (min-width: 768px){
    display: none;
  }
}

.button-nav {
  padding: 1rem 2rem;
}

.contact-button-white {
  font-size: 1.2rem;
  width: 220px;
  margin: 0 auto auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  color: colours.$terracotta;

  @media (min-width: 1025px) {
    margin: 26px auto auto;
  }
}

.contact-button-white:hover {
  background-color: colours.$terracotta;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
