@use "utility/colours";

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  background-color: rgba(255,255,255, 0.7);
  color: colours.$clear;
  border-radius: 50%;
  font-size: 1px;
  height: 12px;
  width: 12px
}

.slick-dots li.slick-active button:before {
  background-color: rgba(255,255,255, 0.8);
  color: colours.$clear;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
