//---------------------------------------
//  Book Now HomePage
//---------------------------------------

@use "utility/colours";

//---------------------------------------
//  Book Now structure
//---------------------------------------

.book-now {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colours.$darkgray;
  padding: 50px 40px;
}

.book-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;

  @media (min-width:481px) {
    width: 401px;
  }

  @media (min-width:768px) {
    width: 688px;
  }

  @media (min-width:1025px) {
    flex-direction: row;
    justify-content: center;
    width: 945px;
  }

  @media (min-width:1200px) {
    width: 1100px;
  }
}

//---------------------------------------
//  Book Now style
//---------------------------------------

.book-now p {
  width: 100%;
  margin: 0;

  @media (min-width:1025px){
    justify-content: flex-start;
  }
}

.book-now button {
  font-size: 1.1rem;
  width: 220px;
  margin-top: 40px;
  padding: 10px;
  border: 1px solid gray;
  color: colours.$terracotta;

  @media (min-width:1025px){
    margin: 0 0 0 20px;
    width: 350px;
    justify-content: flex-end;
  }
}

.book-now button:hover {
  background-color: colours.$terracotta;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
