@use "utility/colours";

//---------------------------------------
//  Footer Main
//---------------------------------------

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colours.$terracotta;
  padding: 40px 40px 10px 40px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer h4 {
  margin: 0;
}

footer .white-line {
  width: 150px;
  margin-top: 15px;
}

footer ul {
  list-style: none;
  position: relative;
  right: 40px;
  margin: 20px 0 30px 0;
}

footer i {
  margin-right: 4px;
}

.footer-space {
  margin-bottom: 20px;
}

.footer-smallprint {
  display: flex;
  align-self: center;
  position: relative;
  top: 10px;
  max-width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
}

//---------------------------------------
//  Footer Breakpoints
//---------------------------------------

@media (min-width:481px) {
  .footer-main {
    width: 401px;
  }
}


@media (min-width:769px) {
  .footer-main {
    flex-direction: row;
    justify-content: flex-start;
    width: 688px;
  }

  .footer-column {
    margin: 0 5px;
  }
}

@media (min-width:1025px) {
  .footer-main {
    width: 945px;
  }

  .footer-column {
    margin: 10px 50px 0 50px;
  }

  .footer-contact {
    margin-left: 0;
  }
}

@media (min-width:1200px) {
  .footer-main {
    width: 1100px;
  }
}
