// @use "utility/colours";

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.page {
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 280px;
  flex-wrap: wrap;

  @media (min-width: 481px) {
    width: 401px;
  }

  @media (min-width: 768px) {
    width: 688px;
  }

  @media (min-width: 1025px) {
    width: 945px;
  }

  @media (min-width: 1200px) {
    width: 1100px;
  }
}

.section-outer {
  display: flex;
  flex-wrap: wrap;
}

.section-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0;
  width: 100%;

  @media (min-width:768px) {
    margin: 16px auto 0;
  }
}
