//---------------------------------------
//  Partners HomePage
//---------------------------------------

@use "utility/colours";

.partner-img {
  width: 100%;
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  transition: transform 0.2s;
  transition-delay: 0.15s;

  @media (min-width: 768px) {
    width: 30%;
    margin: 0 auto 50px;
  }
}

.partner-img-grey {
  display: block;
  width: 100%;
}

.partner-img-colour {
  display: none;
  width: 100%;
}

.partner-img:hover .partner-img-grey {
  display: none;
}

.partner-img:hover .partner-img-colour {
  display: block;
}

.partner-img:hover {
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(.22,.68,0,1.71);
}
