//---------------------------------------
//  Form - Contact Page
//---------------------------------------

@use "utility/colours";

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px 40px 40px;
}

// Replacement Section -----------------------
.form-section .message-complete {
  display: none;
  max-width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
}

.message-complete .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Title Section ---------------------------
.form-section .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.form-section .black-line {
  width: 200px;
  position: relative;
  bottom: 14px;
}


// Form Section ---------------------------
.form-section .form-container {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.form-section .row, .form-container textarea {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.form-section .row input {
  flex-grow: 1;
  height: 30px;
  min-width: 20px;
  padding: 0 6px;
}

.form-section textarea {
  padding: 5px 6px;
  height: 125px;
}

.form-section .row input, .form-section textarea {
  border: 1px solid black;
  border-radius: 3px;
}

.form-section .row input:focus , .form-section textarea:focus {
  border: 1px solid colours.$clear;
  outline: none;
  box-shadow: 0 0 0 1pt colours.$darkgray;
}

.form-section .spacer {
  width: 20px;
}


// GDPR Section ---------------------------
.form-section .gdpr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
}

.form-section .gdpr p {
  max-width: 100%;
  margin: 0 0 0 20px;
  font-size: .9rem;
}

.form-section .gdpr input {
  margin: 0;
  max-width: 15px;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
  position: relative;
  border-radius: 5px;
}

.form-section .gdpr input:after {
  background-color: colours.$darkgray;
}

.form-section .recaptcha-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.form-section .g-recaptcha, .form-section .submit-button {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  color: white;
  background-color: colours.$darkgray;
  border: solid 1px colours.$clear;
  border-radius: 3px;
}

.form-section .g-recaptcha:hover, .form-section .submit-button:hover {
  background-color: white;
  color: black;
  border: solid 1px colours.$terracotta;
}

.form-section .fa-check {
  margin-left: 10px;
  display: none;
}

.form-section .submit-button {
  margin: 0 0 0 auto;
  text-transform: uppercase;
}


// Map Section ---------------------------
.map-section {
  width: 100%;
}

#mapid {
  height: 400px;
  margin-top: 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px colours.$darkgray-clear;
}


//---------------------------------------
//  Services Breakpoints
//---------------------------------------

@media (min-width:481px) {
  .form-section .form-container {
    width: 401px;
  }

  .form-section .message-complete {
    width: 401px;
  }
}

@media (min-width:769px) {
  .form-section .form-container {
    width: 688px;
  }

  .form-section .message-complete {
    width: 688px;
  }
}

@media (min-width:1025px) {
  .form-section {
    width: 945px;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
  }

  .form-section .form-container {
    width: 452px;
    margin: 0 40px 40px 0;
  }

  .form-section .message-complete {
    width: 452px;
    margin: 0 40px 40px 0;
  }

  .map-section {
    height: 100%;
  }

  #mapid {
    margin: 0;
  }
}

@media (min-width:1200px) {
  .form-section {
    width: 1100px;
  }
}
