//---------------------------------------
//  Map - Contact Page
//---------------------------------------

@use "utility/colours";

#mapid {
  height: 400px;
  margin: 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px colours.$darkgray-clear;
}
